html {
    scroll-behavior: smooth;
}
body { margin: 0; }

/*three.js example*/
canvas{
position: relative;
    margin-bottom: 10em;
    margin-top: -200px;
}


body {
    background-color: bisque;
    background-blend-mode: luminosity;
    background-image: url("../images/paper.jpeg") ;
    text-align: center;

}


*{
    font-family: 'Roboto Mono', monospace;
}

/*#model {*/
/*    background-color: #000;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border: 1px solid black;*/
/*    margin: 100px;*/
/*    padding: 0px;*/
/*    position: static; !* fixed or static *!*/
/*    top: 100px;*/
/*    left: 100px;*/
/*}*/

.icon{

    /*display: none;*/
    margin-left: 1em;
    /*position: absolute;*/
    /*margin-left: 10em;*/
}


.name, .icon{
    color: black !important
}



#pictureMichael {
    /*position: relative;*/
    margin-left: 4em;
    margin-top: -4em;
    max-height: 20em;
    display: none;

}
.description1 {
    color: black;
    display: inline-block;
    min-height: 15em;
    max-height: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid lightyellow 1px ;
    border-radius: 5px;
    padding: 1em;
    background-image: url("../images/wood_floor.jpg");
}
.skills {
    margin-top: 15em;
    margin-bottom: 40em;
    /*margin-left: 20em;*/
    border: solid lightgray  1px ;
    border-radius: 5px;
    background: white;
    padding: 1em;
}

.skillsTitle {
    /*margin-right: 3.5em;*/
}

.art{
    max-height: 80em;
}
.artImg{
    float: left;
    width:  50em;
    height: 50em;
    object-fit: scale-down;
}
