body {
    /*background-image: url("https://media.giphy.com/media/2sebI6np6MGKvoOGZK/giphy.gif") ;*/
    background-color: black;


    text-align: center;

}


*{
    font-family: 'Roboto Mono', monospace;
    color: chartreuse;
}

.jumbotron{
    max-height: 14em;

}
.icon{

    display: none;
    margin-left: 1em;
    /*position: absolute;*/
    /*margin-left: 10em;*/
}


.name, .icon{
    color: black !important
}



#pictureMichael {
    /*position: relative;*/
    margin-left: 4em;
    margin-top: -4em;
    max-height: 20em;
    display: none;

}
.description1 {
    display: inline-block;
    min-height: 15em;
    margin-top: 10em;
    border: solid lightyellow 1px ;
    border-radius: 5px;
    padding: 1em;
    background-image: url("../images/wood_floor.jpg");
}

